.card-outline {
    margin-right: 5%;
    float: right;
    width: 50%;
    aspect-ratio: 5 / 3;
    border-radius: 25px;
    border: 20px solid rgb(0, 0, 0);
    padding: 10px;
  }

  .size-rhombus {
    float:right;
    background: rgb(255, 255, 255);
    margin: 100px auto;
    border: 5px solid #000;
    width: 175px;
    height: 175px;
    margin-top: 5%;
    margin-right: 5%;
    transform: rotate(45deg);
  }
  .tier-rhombus {
    float:right;
    border: 5px solid #000;
    width: 175px;
    height: 175px;
    margin-top: 200px;
    margin-right: -186px;
    transform: rotate(45deg);
  }