.card-outline {
    margin: 5%;
    display: flex;
    flex-direction: column;
    float: right;
    width: 960px;
    aspect-ratio: 96/56;
    /*max-width: 70%;
    border-radius: 25px;
    padding: 10px;*/
    background-color: white;
    border: 20px solid rgb(0, 0, 0);
  }
  .size-rhombus {
    background: rgb(255, 255, 255);
    border: 5px solid #000;
    width: 60%;
    margin-top: 19.6%;
    aspect-ratio: 1/1;
    transform: rotate(45deg);
  }
  .tier-rhombus {
    border: 5px solid #000;
    width: 60%;
    margin-top: -15%;
    aspect-ratio: 1/1;
    transform: rotate(45deg);
  }
  .first-container {
    display:flex;
    flex-direction: row;
    flex: 3.8;
    order: 1;
  }
  .info-container {
    display:flex;
    flex-direction: column;
    flex: 2.5;
    order: 1;
  }
  .rhombus-container {
    /*border: 1px solid #000;*/
    flex-direction: column;
    display:flex;
    align-items: center;
    flex: 1.1;
    order: 2;
  }
  .name-container {
    /*border: 1px solid #000;*/
    flex: 1;
    order: 1;
  }
  .stats-container {
    /*border: 1px solid #000;*/
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
    flex: 1;
    order: 2;
  }
  .trait-container {
    /*border: 1px solid #000;*/
    margin-top: 2%;
    margin-left: 3%;
    flex: 1;
    order: 2;
  }
  .type-icon {
    width:23%;
    aspect-ratio: 1/1;
    padding: 2%;
  }
  .ancestry-icon {
    position: relative;
    width:24%;
    margin-top: 9%;
    aspect-ratio: 1/1;
    z-index: 1;
  }
  .size {
    color: #585858;
    position: relative;
    font-style: bold;
    font-size: 400%;
    margin-top: -5%;
    z-index: 1;
  }
  .tier {
    color: #585858;
    font-style: bold;
    font-size: 400%;
    margin-top: 5%;
  }
  .size-title {
    position: relative;
    font-size: 200%;
    margin-top: -115%;
    z-index: 1;
  }
  .tier-title {
    margin-top: -3%;
    font-size: 200%;
  }
  .type-background {
    padding: 2%;
    width:23%;
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    margin-top: -33.1%;
    border-radius: 50%;
    z-index: 1;
  }
  .info-stripe {
    background-color: #D1D2D3;
    width: 144%;
    height: 32%;
    margin-top: -4.8%;
  }
  .name {
    font-size: 300%;
    margin-top: -25%;
    margin-left: 28%;
  }
  .commander {
    font-size: 150%;
    margin-left: 28%;
  }
  .info-text {
    font-size: 150%;
    margin-left: 18%;
    padding: 1.7%;
  }
  .atk-pow-block {
    border: 1px solid #000;
    flex: 3;
    order: 1
  }
  .mor-com-block {
    border: 1px solid #000;
    flex: 2;
    order: 2
  }
