.section-box{
    margin-left: 2%;
    float: left;
    padding: 30px;
    font-family: sans-serif;
    width: 25%
}

.basic-box {
  box-shadow: 8px 8px 5px #888888;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    padding: 30px;
  }

.trait-box {
    box-shadow: 8px 8px 5px #888888;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    padding: 30px;
}

.dropdown-styling {
	/*background-color: whitesmoke;*/
	border-radius: 8px;
	box-sizing: border-box;
	color: #595959;
	font-size: 14px;
	padding: 4px 8px;
	width: 75%;
	margin-bottom: 10px;
}

.greydropdown-styling {
	background-color: rgba(98, 98, 98, 0.269);
	border-radius: 8px;
	box-sizing: border-box;
	color: #595959;
	font-size: 14px;
	padding: 4px 8px;
	width: 75%;
	margin-bottom: 10px;
}

.input-styling {
	/*background-color: whitesmoke;*/
	border-radius: 8px;
	box-sizing: border-box;
	color: #595959;
	font-size: 14px;
	padding: 4px 8px;
	width: 75%;
	margin-bottom: 10px;
}

.titles {
  float:left;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-container {
  float:right;
}